import websocket
import json
import requests
import os
from dotenv import load_dotenv

# Cargar las llaves secretas
load_dotenv()

# === CONFIGURACIÓN SEGURA ===
TOKEN = os.getenv("TELEGRAM_TOKEN")
CHAT_ID = os.getenv("TELEGRAM_CHAT_ID")
